streamlit==1.38.0
pandas==2.0.3
numpy==1.24.3
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0
scikit-learn==1.3.2
scipy==1.10.1
joblib==1.4.2
opencv-python-headless==4.10.0.84
streamlit-webrtc==0.47.7
streamlit_folium==0.21.1
folium==0.17.0
ultralytics==8.2.48
ultralytics-thop==2.0.0
torch==2.3.1
torchvision==0.18.1
sgp4==2.22
cartopy==0.23.0
pytz==2024.1
Pillow
setuptools<81
